* {
    padding: 0px;
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}
body {
    background-color: rgb(255, 255, 255);
    color: rgb(65, 65, 65);
}

header {
    margin: 0px auto 30px auto;  
    text-align: center;
    padding: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.247);
}
header > img {
    width: 50px;
}


section#tarefain {
    width: 100%;
    position: relative;
}

nav#menu {
    width: 100%;
    height: 50px;
    margin: 20px auto 50px auto;
}
article {
    width: 100%;
    border: rgba(255, 0, 0, 0) solid 1px;
}

input#tarefa {
    background-color: #ffffff00;
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 70%;
    transform: translate(-50%, 0px);
    font-size: 1.3em;
    padding: 20px;
    text-align: center;
    text-wrap: wrap;
    margin: 0px auto;
    border: none;
    border-bottom: 2px solid rgb(176, 194, 224);
}
button#btnadd {
    position: relative;
    bottom: -50px;
    left: 50%;
    transform: translate(-50%, 0px);
    font-size: 1.6em;
    font-weight: bolder;
    background-color: rgb(6, 165, 171);
    color: #ffffff;
    border-radius: 5px;
    border: none;
    width: 250px;
    padding: 10px;
    margin-bottom: 100px;

}
p.postit {
    width: 70%;
    padding: 20px;
    text-wrap: balance;
    background-color: rgb(254, 254, 254);
    margin: 10px auto 10px auto;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.187);
    
}
input.novastarefas {
    font-size: 1.3em;
    border: none;
    background-color: #ffffff00;
    margin: 10px auto;
    color:rgb(124, 124, 124);
}

button#del {
    font-size: 1.3em;
    background-color: rgb(214, 32, 71);
    color: #ffffff;
    border-radius: 5px;
    border: none;
    width: 50px;
    padding: 10px;
}

button#sal {
    font-size: 1.3em;
    background-color: rgb(12, 163, 90);
    color: #ffffff;
    border-radius: 5px;
    border: none;
    width: 50px;
    padding: 10px;
}

header > section {
    width: 50px;
    margin: 10px auto;
}
section > img {
    width: 35px;
}
