* {
    padding: 0px;
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}


section#tarefain {
    width: 100%;
    height: 100vh;
    position: relative;
}

nav#menu {
    width: 100%;
    height: 50px;
    margin: 50px auto;
}
article {
    width: 100%;
    border: rgba(255, 0, 0, 0) solid 1px;
}

input#tarefa {
    position: absolute;
    top: 10px;
    left: 50%;
    width: 70%;
    transform: translate(-50%, 0px);
    font-size: 1.3em;
    text-align: center;
    margin: 5px auto;
    border: none;
    border-bottom: 2px solid rgb(176, 194, 224);
}
button#btnadd {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 0px);
    font-size: 1.6em;
    font-weight: bolder;
    background-color: rgb(6, 165, 171);
    color: #ffffff;
    border-radius: 5px;
    border: none;
    width: 40px;
    padding: 4px;
    margin-bottom: 100px;

}
p.postit {
    font-size: 1.2em;
    width: 350px;
    padding: 20px;
    background-color: rgb(254, 254, 254);
    margin: 10px auto 10px auto;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.187);
    
}
input.novastarefas {
    display: inline-block;
    width: 85%;
    border: none;
    background-color: #ffffff00;
    margin: 10px auto;
    color:rgb(124, 124, 124);
}
button#del {
    font-size: 1em;
    background-color: rgb(214, 32, 71);
    color: #ffffff;
    border-radius: 5px;
    border: none;
    width: 30px;
    padding: 4px;
}


