* {
    padding: 0px;
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}
body {
    background-color: rgb(255, 255, 255);
    color: rgb(65, 65, 65);
}

header {
    width: 100%;
    height: 25px;
    position: relative;
    margin: 0px auto 30px auto;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

header > h1 {
    position: absolute;
    font-size:1.2em;
    left: 15px;
}

nav#menu img {
    width: 30px;
}

section#tarefain {
    width: 100%;
    position: relative;
}

nav#menu {
    width: 100%;
    height: 50px;
    margin: 20px auto 50px auto;
}
article {
    width: 100%;
    border: rgba(255, 0, 0, 0) solid 1px;
}

input#tarefa {
    background-color: #ffffff00;
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 70%;
    transform: translate(-50%, 0px);
    font-size: 1.3em;
    padding: 20px;
    text-align: center;
    text-wrap: wrap;
    margin: 0px auto;
    border: none;
    border-bottom: 2px solid rgb(176, 194, 224);
}
button#btnadd {
    position: relative;
    bottom: -50px;
    left: 50%;
    transform: translate(-50%, 0px);
    font-size: 1.6em;
    font-weight: bolder;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px rgba(22, 0, 110, 0.18);
    border-radius: 5px;
    border: none;
    width: 250px;
    padding: 10px;
    margin-bottom: 100px;

}
section.postit {
    width: 70%;
    padding: 20px;
    background-color: rgb(254, 254, 254);
    margin: 10px auto 10px auto;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.187);
    
}
.novastarefas {
    font-size: 1.3em;
    border: none;
    background-color: #ffffff00;
    margin: 10px auto;
    color:rgb(124, 124, 124);
}


button#del {
    font-size: 1.3em;
    background-color: rgba(214, 32, 71, 0);
    color: #ffffff;
    border-radius: 5px;
    border: none;
    width: 50px;
    padding: 10px;
}

button#check {
    font-size: 1.5em;
    background-color: rgb(12, 186, 52, 0);
    color: #ffffff;
    border-radius: 5px;
    border: none;
    width: 45px;
    padding: 5px;

}

button#sal {
    font-size: 1.3em;
    background-color: rgb(12, 186, 52, 0);
    color: rgb(12, 163, 90);
    border-radius: 5px;
    border: none;
    width: 45px;
    padding: 5px;
    
}

header > section {
    position: relative;
    width: 95%;
    margin: 0px auto;
}
section#mudarestilo > img {
    position: absolute;
    top: -5px;
    right: 30px;
    width: 35px;
}
